/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/cert
/config/level.php
/config/subscribe.php
/config/subscribe_mail.php
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*.swp
.php_cs.cache
